<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的自动化生产线智能机器人安全监控管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的自动化生产线智能机器人安全监控管理系统 传感器信息表(senskwkworinfo)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_senskwkworname_pie_v2",'senskwkworinfo.senskwkworname_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_senskwkworname_pie_v1",'senskwkworinfo.senskwkworname_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** pie***/ init_echart("echart_senskwkworinfo_senskwkworname_pie",'senskwkworinfo.senskwkworname_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** line***/ init_echart("echart_senskwkworinfo_senskwkworname_line",'senskwkworinfo.senskwkworname_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** bar***/ init_echart("echart_senskwkworinfo_senskwkworname_bar",'senskwkworinfo.senskwkworname_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkworname_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器名称 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_senskwkworname_bar_v1",'senskwkworinfo.senskwkworname_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_senskwkwortype_pie_v2",'senskwkworinfo.senskwkwortype_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_senskwkwortype_pie_v1",'senskwkworinfo.senskwkwortype_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** pie***/ init_echart("echart_senskwkworinfo_senskwkwortype_pie",'senskwkworinfo.senskwkwortype_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** line***/ init_echart("echart_senskwkworinfo_senskwkwortype_line",'senskwkworinfo.senskwkwortype_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** bar***/ init_echart("echart_senskwkworinfo_senskwkwortype_bar",'senskwkworinfo.senskwkwortype_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_senskwkwortype_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 传感器类型 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_senskwkwortype_bar_v1",'senskwkworinfo.senskwkwortype_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_location_pie_v2",'senskwkworinfo.location_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_location_pie_v1",'senskwkworinfo.location_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** pie***/ init_echart("echart_senskwkworinfo_location_pie",'senskwkworinfo.location_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** line***/ init_echart("echart_senskwkworinfo_location_line",'senskwkworinfo.location_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** bar***/ init_echart("echart_senskwkworinfo_location_bar",'senskwkworinfo.location_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_location_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 位置 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_location_bar_v1",'senskwkworinfo.location_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_status_pie_v2",'senskwkworinfo.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_status_pie_v1",'senskwkworinfo.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** pie***/ init_echart("echart_senskwkworinfo_status_pie",'senskwkworinfo.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** line***/ init_echart("echart_senskwkworinfo_status_line",'senskwkworinfo.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** bar***/ init_echart("echart_senskwkworinfo_status_bar",'senskwkworinfo.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 状态 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_status_bar_v1",'senskwkworinfo.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_pie_v2",'senskwkworinfo.lkwkwastupdatetime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_pie_v1",'senskwkworinfo.lkwkwastupdatetime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** pie***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_pie",'senskwkworinfo.lkwkwastupdatetime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** line***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_line",'senskwkworinfo.lkwkwastupdatetime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** bar***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_bar",'senskwkworinfo.lkwkwastupdatetime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_lkwkwastupdatetime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 最后更新时间 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_lkwkwastupdatetime_bar_v1",'senskwkworinfo.lkwkwastupdatetime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_pie_v2",'senskwkworinfo.mekwkwasurementvalue_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_pie_v1",'senskwkworinfo.mekwkwasurementvalue_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** pie***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_pie",'senskwkworinfo.mekwkwasurementvalue_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** line***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_line",'senskwkworinfo.mekwkwasurementvalue_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** bar***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_bar",'senskwkworinfo.mekwkwasurementvalue_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_mekwkwasurementvalue_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 测量值 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_mekwkwasurementvalue_bar_v1",'senskwkworinfo.mekwkwasurementvalue_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_unit_pie_v2",'senskwkworinfo.unit_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_unit_pie_v1",'senskwkworinfo.unit_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** pie***/ init_echart("echart_senskwkworinfo_unit_pie",'senskwkworinfo.unit_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** line***/ init_echart("echart_senskwkworinfo_unit_line",'senskwkworinfo.unit_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** bar***/ init_echart("echart_senskwkworinfo_unit_bar",'senskwkworinfo.unit_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_unit_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 单位 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_unit_bar_v1",'senskwkworinfo.unit_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** pie_v2***/ init_echart("echart_senskwkworinfo_alarmthreshold_pie_v2",'senskwkworinfo.alarmthreshold_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** pie_v1***/ init_echart("echart_senskwkworinfo_alarmthreshold_pie_v1",'senskwkworinfo.alarmthreshold_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_pie" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** pie***/ init_echart("echart_senskwkworinfo_alarmthreshold_pie",'senskwkworinfo.alarmthreshold_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_line" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** line***/ init_echart("echart_senskwkworinfo_alarmthreshold_line",'senskwkworinfo.alarmthreshold_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_bar" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** bar***/ init_echart("echart_senskwkworinfo_alarmthreshold_bar",'senskwkworinfo.alarmthreshold_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_senskwkworinfo_alarmthreshold_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 传感器信息表 报警阈值 ******************** bar_v1***/ init_echart("echart_senskwkworinfo_alarmthreshold_bar_v1",'senskwkworinfo.alarmthreshold_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
