<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的自动化生产线智能机器人安全监控管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的自动化生产线智能机器人安全监控管理系统 视频录像表(videoreckwkword)</h3>
        </div>
      </div>
      {% csrf_token %}








<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** pie_v2***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_pie_v2",'videoreckwkword.reckwkwordkwkwingstarttime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** pie_v1***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_pie_v1",'videoreckwkword.reckwkwordkwkwingstarttime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** pie***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_pie",'videoreckwkword.reckwkwordkwkwingstarttime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** line***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_line",'videoreckwkword.reckwkwordkwkwingstarttime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** bar***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_bar",'videoreckwkword.reckwkwordkwkwingstarttime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingstarttime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像开始时间 ******************** bar_v1***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingstarttime_bar_v1",'videoreckwkword.reckwkwordkwkwingstarttime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** pie_v2***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_pie_v2",'videoreckwkword.reckwkwordkwkwingendtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** pie_v1***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_pie_v1",'videoreckwkword.reckwkwordkwkwingendtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** pie***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_pie",'videoreckwkword.reckwkwordkwkwingendtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** line***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_line",'videoreckwkword.reckwkwordkwkwingendtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** bar***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_bar",'videoreckwkword.reckwkwordkwkwingendtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_reckwkwordkwkwingendtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像结束时间 ******************** bar_v1***/ init_echart("echart_videoreckwkword_reckwkwordkwkwingendtime_bar_v1",'videoreckwkword.reckwkwordkwkwingendtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** pie_v2***/ init_echart("echart_videoreckwkword_status_pie_v2",'videoreckwkword.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** pie_v1***/ init_echart("echart_videoreckwkword_status_pie_v1",'videoreckwkword.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_status_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** pie***/ init_echart("echart_videoreckwkword_status_pie",'videoreckwkword.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_status_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** line***/ init_echart("echart_videoreckwkword_status_line",'videoreckwkword.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_status_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** bar***/ init_echart("echart_videoreckwkword_status_bar",'videoreckwkword.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像状态如正常、异常、删除 ******************** bar_v1***/ init_echart("echart_videoreckwkword_status_bar_v1",'videoreckwkword.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** pie_v2***/ init_echart("echart_videoreckwkword_resolution_pie_v2",'videoreckwkword.resolution_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** pie_v1***/ init_echart("echart_videoreckwkword_resolution_pie_v1",'videoreckwkword.resolution_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** pie***/ init_echart("echart_videoreckwkword_resolution_pie",'videoreckwkword.resolution_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** line***/ init_echart("echart_videoreckwkword_resolution_line",'videoreckwkword.resolution_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** bar***/ init_echart("echart_videoreckwkword_resolution_bar",'videoreckwkword.resolution_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_resolution_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像分辨率 ******************** bar_v1***/ init_echart("echart_videoreckwkword_resolution_bar_v1",'videoreckwkword.resolution_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** pie_v2***/ init_echart("echart_videoreckwkword_duration_pie_v2",'videoreckwkword.duration_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** pie_v1***/ init_echart("echart_videoreckwkword_duration_pie_v1",'videoreckwkword.duration_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** pie***/ init_echart("echart_videoreckwkword_duration_pie",'videoreckwkword.duration_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** line***/ init_echart("echart_videoreckwkword_duration_line",'videoreckwkword.duration_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** bar***/ init_echart("echart_videoreckwkword_duration_bar",'videoreckwkword.duration_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_duration_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 录像时长秒 ******************** bar_v1***/ init_echart("echart_videoreckwkword_duration_bar_v1",'videoreckwkword.duration_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** pie_v2***/ init_echart("echart_videoreckwkword_createdat_pie_v2",'videoreckwkword.createdat_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** pie_v1***/ init_echart("echart_videoreckwkword_createdat_pie_v1",'videoreckwkword.createdat_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_pie" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** pie***/ init_echart("echart_videoreckwkword_createdat_pie",'videoreckwkword.createdat_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_line" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** line***/ init_echart("echart_videoreckwkword_createdat_line",'videoreckwkword.createdat_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_bar" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** bar***/ init_echart("echart_videoreckwkword_createdat_bar",'videoreckwkword.createdat_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_videoreckwkword_createdat_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 视频录像表 创建时间 ******************** bar_v1***/ init_echart("echart_videoreckwkword_createdat_bar_v1",'videoreckwkword.createdat_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
