<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的自动化生产线智能机器人安全监控管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.png');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的自动化生产线智能机器人安全监控管理系统 生产线配置表(productionlkwkwineconfig)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_pie_v2",'productionlkwkwineconfig.lkwkwinename_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_pie_v1",'productionlkwkwineconfig.lkwkwinename_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_pie",'productionlkwkwineconfig.lkwkwinename_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** line***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_line",'productionlkwkwineconfig.lkwkwinename_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_bar",'productionlkwkwineconfig.lkwkwinename_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwinename_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线名称 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_lkwkwinename_bar_v1",'productionlkwkwineconfig.lkwkwinename_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_location_pie_v2",'productionlkwkwineconfig.location_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_location_pie_v1",'productionlkwkwineconfig.location_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_location_pie",'productionlkwkwineconfig.location_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** line***/ init_echart("echart_productionlkwkwineconfig_location_line",'productionlkwkwineconfig.location_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_location_bar",'productionlkwkwineconfig.location_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_location_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线位置 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_location_bar_v1",'productionlkwkwineconfig.location_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_capacity_pie_v2",'productionlkwkwineconfig.capacity_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_capacity_pie_v1",'productionlkwkwineconfig.capacity_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_capacity_pie",'productionlkwkwineconfig.capacity_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** line***/ init_echart("echart_productionlkwkwineconfig_capacity_line",'productionlkwkwineconfig.capacity_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_capacity_bar",'productionlkwkwineconfig.capacity_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_capacity_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 产能 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_capacity_bar_v1",'productionlkwkwineconfig.capacity_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_status_pie_v2",'productionlkwkwineconfig.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_status_pie_v1",'productionlkwkwineconfig.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_status_pie",'productionlkwkwineconfig.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** line***/ init_echart("echart_productionlkwkwineconfig_status_line",'productionlkwkwineconfig.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_status_bar",'productionlkwkwineconfig.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 生产线状态 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_status_bar_v1",'productionlkwkwineconfig.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_creationtime_pie_v2",'productionlkwkwineconfig.creationtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_creationtime_pie_v1",'productionlkwkwineconfig.creationtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_creationtime_pie",'productionlkwkwineconfig.creationtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** line***/ init_echart("echart_productionlkwkwineconfig_creationtime_line",'productionlkwkwineconfig.creationtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_creationtime_bar",'productionlkwkwineconfig.creationtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_creationtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 创建时间 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_creationtime_bar_v1",'productionlkwkwineconfig.creationtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_pie_v2",'productionlkwkwineconfig.lkwkwastupdatetime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_pie_v1",'productionlkwkwineconfig.lkwkwastupdatetime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_pie",'productionlkwkwineconfig.lkwkwastupdatetime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** line***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_line",'productionlkwkwineconfig.lkwkwastupdatetime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_bar",'productionlkwkwineconfig.lkwkwastupdatetime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_lkwkwastupdatetime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 最后更新时间 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_lkwkwastupdatetime_bar_v1",'productionlkwkwineconfig.lkwkwastupdatetime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_robotcount_pie_v2",'productionlkwkwineconfig.robotcount_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_robotcount_pie_v1",'productionlkwkwineconfig.robotcount_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_robotcount_pie",'productionlkwkwineconfig.robotcount_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** line***/ init_echart("echart_productionlkwkwineconfig_robotcount_line",'productionlkwkwineconfig.robotcount_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_robotcount_bar",'productionlkwkwineconfig.robotcount_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_robotcount_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 机器人数量 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_robotcount_bar_v1",'productionlkwkwineconfig.robotcount_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** pie_v2***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_pie_v2",'productionlkwkwineconfig.makwkwintenancecycle_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** pie_v1***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_pie_v1",'productionlkwkwineconfig.makwkwintenancecycle_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_pie" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** pie***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_pie",'productionlkwkwineconfig.makwkwintenancecycle_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_line" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** line***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_line",'productionlkwkwineconfig.makwkwintenancecycle_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_bar" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** bar***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_bar",'productionlkwkwineconfig.makwkwintenancecycle_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_productionlkwkwineconfig_makwkwintenancecycle_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 生产线配置表 维护周期 ******************** bar_v1***/ init_echart("echart_productionlkwkwineconfig_makwkwintenancecycle_bar_v1",'productionlkwkwineconfig.makwkwintenancecycle_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>






    </div>
  </body>
</html>
