{% extends '../tp.html' %}

{% block title %}
生产线配置表
{% endblock %}

{% block body %}
  <div class="my-container-margin">
    <div class="divider"></div>
    {% csrf_token %}
    <div class="section">
      <h4>生产线配置表</h4>
      <div>
        <div class="row">
          
          {% if has_add %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalinsert" class="waves-effect waves-light btn">添加</button>
          {% endif %}
          <div class="divider"></div>
        
        
          
<div class="col-sm-10">
</div>
<div class="col-sm-2">
<a href="/config_visual/bi_tpproductionlkwkwineconfig" target="_blank" class="waves-effect waves-light btn">
统计分析
</a>
</div>
        </div>  
        <div class="section">
          {% if record %}
            <h3>Empty Data</h3>
          {% else %}
          
<div class="row">
<form action="" method="get">




















<div class="form-group">
<label for="associatedfactkwkworyid">关联工厂ID(associatedfactkwkworyid)</label>
<select name="associatedfactkwkworyid_search" id="associatedfactkwkworyid_search">
<option value="">未选择</option>
{% for record in data_mc_productionlkwkwineinfo_55616 %}
<option value="{{record.value}}">
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>


<div class="col-sm-2">
<button type="submit" class="btn btn-primary" >
<i class="fas fa-search">搜索</i>
</button>
<a type="reset" class="btn btn-default" href="/config_busi/productionlkwkwineconfig">
<i class="fas fa-eraser">重置</i>
</a>
</div>
</form>

          </div>
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  
{% if mcauthfield_lkwkwineid.mcauthview %}
<td>
生产线ID
</td>
{% endif %}

{% if mcauthfield_lkwkwinename.mcauthview %}
<td>
生产线名称
</td>
{% endif %}

{% if mcauthfield_location.mcauthview %}
<td>
生产线位置
</td>
{% endif %}

{% if mcauthfield_capacity.mcauthview %}
<td>
产能
</td>
{% endif %}

{% if mcauthfield_status.mcauthview %}
<td>
生产线状态
</td>
{% endif %}

{% if mcauthfield_creationtime.mcauthview %}
<td>
创建时间
</td>
{% endif %}

{% if mcauthfield_lkwkwastupdatetime.mcauthview %}
<td>
最后更新时间
</td>
{% endif %}

{% if mcauthfield_robotcount.mcauthview %}
<td>
机器人数量
</td>
{% endif %}

{% if mcauthfield_makwkwintenancecycle.mcauthview %}
<td>
维护周期
</td>
{% endif %}

{% if mcauthfield_associatedfactkwkworyid.mcauthview %}
<td>
关联工厂ID
</td>
{% endif %}
<th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                  <tr>
                    
 {% if mcauthfield_lkwkwineid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.lkwkwineid}}">
{{record.lkwkwineid}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_lkwkwinename.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.lkwkwinename}}">
{{record.lkwkwinename}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_location.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.location}}">
{{record.location}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_capacity.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.capacity}}">
{{record.capacity}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_status.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.status}}">
{{record.status}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_creationtime.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.creationtime}}">
{{record.creationtime}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_lkwkwastupdatetime.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.lkwkwastupdatetime}}">
{{record.lkwkwastupdatetime}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_robotcount.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.robotcount}}">
{{record.robotcount}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_makwkwintenancecycle.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.makwkwintenancecycle}}">
{{record.makwkwintenancecycle}}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_associatedfactkwkworyid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.associatedfactkwkworyid}}">
{{record.associatedfactkwkworyid}}
</p>

</td>
{% endif %}
 <td>
                      {% if has_upd %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalupdate">修改</button>
                      {% endif %}
                      {% if has_del %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalremove">删除</button>
                      {% endif %}
                      {% if has_view %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalpreview">查看</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal Structure -->

  {% if has_add %}
    <div id="modalinsert" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <h4>添加</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="add" hidden />{% csrf_token %}<div class="">
        {% if mcauthfield_lkwkwineid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwineid" class="form-label form-group">生产线ID</label>

</div>
        {% endif %}

        {% if mcauthfield_lkwkwinename.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwinename" class="form-label form-group">生产线名称</label>

<input type="text" class="form-control form-control-lg" name="lkwkwinename" id="lkwkwinename"{% if not mcauthfield_lkwkwinename.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_location.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="location" class="form-label form-group">生产线位置</label>

<input type="text" class="form-control form-control-lg" name="location" id="location"{% if not mcauthfield_location.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_capacity.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="capacity" class="form-label form-group">产能</label>

<input type="text" class="form-control form-control-lg" name="capacity" id="capacity"{% if not mcauthfield_capacity.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_status.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="status" class="form-label form-group">生产线状态</label>

<input type="text" class="form-control form-control-lg" name="status" id="status"{% if not mcauthfield_status.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_creationtime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="creationtime" class="form-label form-group">创建时间</label>

</div>
        {% endif %}

        {% if mcauthfield_lkwkwastupdatetime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="lkwkwastupdatetime" class="form-label form-group">最后更新时间</label>

</div>
        {% endif %}

        {% if mcauthfield_robotcount.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="robotcount" class="form-label form-group">机器人数量</label>

<input type="number" class="form-control form-control-lg" name="robotcount" id="robotcount" {% if not mcauthfield_robotcount.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_makwkwintenancecycle.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="makwkwintenancecycle" class="form-label form-group">维护周期</label>

<input type="text" class="form-control form-control-lg" name="makwkwintenancecycle" id="makwkwintenancecycle"{% if not mcauthfield_makwkwintenancecycle.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}

        {% if mcauthfield_associatedfactkwkworyid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="associatedfactkwkworyid" class="form-label form-group">关联工厂ID</label>

<select class="form-select form-select-lg mb-3" name="associatedfactkwkworyid" id="associatedfactkwkworyid" {% if not mcauthfield_associatedfactkwkworyid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_productionlkwkwineinfo_55616 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="modal-action modal-close btn-primary btn waves-effect waves-light">提交</button>
                  <button type="reset" class="modal-action modal-close btn-default btn waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_upd %}
    <div id="modalupdate" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">修改</div>
          </div>
          <div class="modal-body">
            <div class="">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="upd" hidden />{% csrf_token %}<input type="text" name="_id_upd" value="" data-name="update_id" hidden />
                <div class="">
           {% if mcauthfield_lkwkwineid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="lkwkwineid_upd"
class="form-label form-group">
生产线ID(lkwkwineid)
</label>

</div>
        {% endif %}

           {% if mcauthfield_lkwkwinename.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="lkwkwinename_upd"
class="form-label form-group">
生产线名称(lkwkwinename)
</label>

<input type="text" class="validate form-control form-control-lg"
name="lkwkwinename"
id="lkwkwinename_upd"
placeholder="生产线名称"
{% if not mcauthfield_lkwkwinename.mcisblank %}
required
{% endif %}
{% if not mcauthfield_lkwkwinename.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_location.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="location_upd"
class="form-label form-group">
生产线位置(location)
</label>

<input type="text" class="validate form-control form-control-lg"
name="location"
id="location_upd"
placeholder="生产线位置"
{% if not mcauthfield_location.mcisblank %}
required
{% endif %}
{% if not mcauthfield_location.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_capacity.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="capacity_upd"
class="form-label form-group">
产能(capacity)
</label>

<input type="text" class="validate form-control form-control-lg"
name="capacity"
id="capacity_upd"
placeholder="产能"
{% if not mcauthfield_capacity.mcisblank %}
required
{% endif %}
{% if not mcauthfield_capacity.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_status.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="status_upd"
class="form-label form-group">
生产线状态(status)
</label>

<input type="text" class="validate form-control form-control-lg"
name="status"
id="status_upd"
placeholder="生产线状态"
{% if not mcauthfield_status.mcisblank %}
required
{% endif %}
{% if not mcauthfield_status.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_creationtime.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="creationtime_upd"
class="form-label form-group">
创建时间(creationtime)
</label>

</div>
        {% endif %}

           {% if mcauthfield_lkwkwastupdatetime.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="lkwkwastupdatetime_upd"
class="form-label form-group">
最后更新时间(lkwkwastupdatetime)
</label>

</div>
        {% endif %}

           {% if mcauthfield_robotcount.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="robotcount_upd"
class="form-label form-group">
机器人数量(robotcount)
</label>

<input type="number" class="validate form-control form-control-lg"
name="robotcount"
id="robotcount_upd"
placeholder="机器人数量"
{% if not mcauthfield_robotcount.mcisblank %}
required
{% endif %}
{% if not mcauthfield_robotcount.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_makwkwintenancecycle.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="makwkwintenancecycle_upd"
class="form-label form-group">
维护周期(makwkwintenancecycle)
</label>

<input type="text" class="validate form-control form-control-lg"
name="makwkwintenancecycle"
id="makwkwintenancecycle_upd"
placeholder="维护周期"
{% if not mcauthfield_makwkwintenancecycle.mcisblank %}
required
{% endif %}
{% if not mcauthfield_makwkwintenancecycle.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}

           {% if mcauthfield_associatedfactkwkworyid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="associatedfactkwkworyid_upd"
class="form-label form-group">
关联工厂ID(associatedfactkwkworyid)
</label>

<select class="form-select form-select-lg mb-3" name="associatedfactkwkworyid"
id="associatedfactkwkworyid_upd"
{% if not mcauthfield_associatedfactkwkworyid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_associatedfactkwkworyid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_productionlkwkwineinfo_55616 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">提交</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_del %}
    <div id="modalremove" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>确认删除这条记录吗?</p>
          </div>
          <div class="modal-footer">
            <div class="row">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="del" hidden />{% csrf_token %}<input type="text" name="_id" value="" data-name="remove" hidden />

                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">确认</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_view %}
    <div id="modalpreview" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <h4>预览</h4>
          <div class="">
            
{% if mcauthfield_lkwkwineid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">生产线ID</p>

<p id="lkwkwineid_view">
{{record.lkwkwineid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_lkwkwinename.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">生产线名称</p>

<p id="lkwkwinename_view">
{{record.lkwkwinename|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_location.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">生产线位置</p>

<p id="location_view">
{{record.location|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_capacity.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">产能</p>

<p id="capacity_view">
{{record.capacity|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_status.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">生产线状态</p>

<p id="status_view">
{{record.status|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_creationtime.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建时间</p>

<p id="creationtime_view">
{{record.creationtime|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_lkwkwastupdatetime.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">最后更新时间</p>

<p id="lkwkwastupdatetime_view">
{{record.lkwkwastupdatetime|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_robotcount.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">机器人数量</p>

<p id="robotcount_view">
{{record.robotcount|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_makwkwintenancecycle.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">维护周期</p>

<p id="makwkwintenancecycle_view">
{{record.makwkwintenancecycle|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_associatedfactkwkworyid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">关联工厂ID</p>

<p id="associatedfactkwkworyid_view">
{{record.associatedfactkwkworyid|safe }}
</p>

</div>
{% endif %}
<div class="modal-footer">
              <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script-footer %}
<script>
  function myreset(){
window.location.href= "/config_busi/productionlkwkwineconfig";
};
if (document.getElementById("modalupdate")){
document.getElementById("modalupdate").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/productionlkwkwineconfig',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {

{% if mcauthfield_lkwkwineid.mcauthview %}
$("#lkwkwineid_upd").val(resp.ins.lkwkwineid);
{% endif %}

{% if mcauthfield_lkwkwinename.mcauthview %}
$("#lkwkwinename_upd").val(resp.ins.lkwkwinename);
{% endif %}

{% if mcauthfield_location.mcauthview %}
$("#location_upd").val(resp.ins.location);
{% endif %}

{% if mcauthfield_capacity.mcauthview %}
$("#capacity_upd").val(resp.ins.capacity);
{% endif %}

{% if mcauthfield_status.mcauthview %}
$("#status_upd").val(resp.ins.status);
{% endif %}

{% if mcauthfield_creationtime.mcauthview %}
$("#creationtime_upd").val(resp.ins.creationtime);
{% endif %}

{% if mcauthfield_lkwkwastupdatetime.mcauthview %}
$("#lkwkwastupdatetime_upd").val(resp.ins.lkwkwastupdatetime);
{% endif %}

{% if mcauthfield_robotcount.mcauthview %}
$("#robotcount_upd").val(resp.ins.robotcount);
{% endif %}

{% if mcauthfield_makwkwintenancecycle.mcauthview %}
$("#makwkwintenancecycle_upd").val(resp.ins.makwkwintenancecycle);
{% endif %}

{% if mcauthfield_associatedfactkwkworyid.mcauthview %}
$("#associatedfactkwkworyid_upd").val(resp.ins.associatedfactkwkworyid);
{% endif %}

},
error: err => {
},
complete: res => {
},
})
});
};
function upd(_id){
let data = {
optype:'get',
_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value,

{% if mcauthfield_lkwkwineid.mcauthchange %}
lkwkwineid:$("#lkwkwineid_upd]").val(),
{% endif %}

{% if mcauthfield_lkwkwinename.mcauthchange %}
lkwkwinename:$("#lkwkwinename_upd]").val(),
{% endif %}

{% if mcauthfield_location.mcauthchange %}
location:$("#location_upd]").val(),
{% endif %}

{% if mcauthfield_capacity.mcauthchange %}
capacity:$("#capacity_upd]").val(),
{% endif %}

{% if mcauthfield_status.mcauthchange %}
status:$("#status_upd]").val(),
{% endif %}

{% if mcauthfield_creationtime.mcauthchange %}
creationtime:$("#creationtime_upd]").val(),
{% endif %}

{% if mcauthfield_lkwkwastupdatetime.mcauthchange %}
lkwkwastupdatetime:$("#lkwkwastupdatetime_upd]").val(),
{% endif %}

{% if mcauthfield_robotcount.mcauthchange %}
robotcount:$("#robotcount_upd]").val(),
{% endif %}

{% if mcauthfield_makwkwintenancecycle.mcauthchange %}
makwkwintenancecycle:$("#makwkwintenancecycle_upd]").val(),
{% endif %}

{% if mcauthfield_associatedfactkwkworyid.mcauthchange %}
associatedfactkwkworyid:$("#associatedfactkwkworyid_upd]").val(),
{% endif %}

}
$.ajax({
url: '/config_busi/productionlkwkwineconfig',
method: 'post',
data: data,
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
if (document.getElementById("modalpreview")) {
document.getElementById("modalpreview").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/productionlkwkwineconfig',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {



{% if mcauthfield_lkwkwineid.mcauthview %}
document.getElementById("lkwkwineid_view").innerHTML=resp.ins.lkwkwineid;
{% endif %}




{% if mcauthfield_lkwkwinename.mcauthview %}
document.getElementById("lkwkwinename_view").innerHTML=resp.ins.lkwkwinename;
{% endif %}




{% if mcauthfield_location.mcauthview %}
document.getElementById("location_view").innerHTML=resp.ins.location;
{% endif %}




{% if mcauthfield_capacity.mcauthview %}
document.getElementById("capacity_view").innerHTML=resp.ins.capacity;
{% endif %}




{% if mcauthfield_status.mcauthview %}
document.getElementById("status_view").innerHTML=resp.ins.status;
{% endif %}




{% if mcauthfield_creationtime.mcauthview %}
document.getElementById("creationtime_view").innerHTML=resp.ins.creationtime;
{% endif %}




{% if mcauthfield_lkwkwastupdatetime.mcauthview %}
document.getElementById("lkwkwastupdatetime_view").innerHTML=resp.ins.lkwkwastupdatetime;
{% endif %}




{% if mcauthfield_robotcount.mcauthview %}
document.getElementById("robotcount_view").innerHTML=resp.ins.robotcount;
{% endif %}




{% if mcauthfield_makwkwintenancecycle.mcauthview %}
document.getElementById("makwkwintenancecycle_view").innerHTML=resp.ins.makwkwintenancecycle;
{% endif %}




{% if mcauthfield_associatedfactkwkworyid.mcauthview %}
document.getElementById("associatedfactkwkworyid_view").innerHTML=resp.ins.associatedfactkwkworyid;
{% endif %}


},
error: err => {
},
complete: res => {
},
})
});
};
if (document.getElementById("modalremove")) {
document.getElementById("modalremove").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=remove]").val(_id);
});
};
function del(_id){
$.ajax({
url: '/config_busi/productionlkwkwineconfig',
method: 'post',
data: {optype:'del',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
</script>
{% endblock %}
