<style>.default-echart-border{
    color: #e9bff7;
    border-color: #284412;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 6px;
    border-radius: 12px;
    box-shadow: 0px rgba(54, 162, 235, 1);
    padding: 2px;
    background-color: #b7d59e;
}.btn{
    color: #96b3dd;
    border-color: #2e4e07;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 9px;
    border-radius: 0;
    box-shadow: 0px rgba(54, 162, 235, 1);
    padding: 1px;
    background-color: #f1dfb5;
}.my-header{
    color: black;
    border-color: #411d28;
    font-size: 2.1rem;
    font-weight: 900;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 9px;
    border-radius: 2px;
    box-shadow: 2px rgba(54, 162, 235, 1);
    padding: 2px;
    background-color: white;
}.my-container-margin{
    color: #cac2f9;
    border-color: #3b0c00;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 2px;
    border-radius: 8px;
    box-shadow: 1px rgba(153, 102, 255, 1);
    padding: 3px;
    background-color: #aaf3b8;
}.table{
    color: #e6fbd7;
    border-color: #171941;
    font-size: 2.4rem;
    font-weight: 500;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 12px;
    border-radius: 4px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #e1a5e3;
}.form-control{
    color: #b1d0e0;
    border-color: #3a171b;
    font-size: 1rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 6px;
    border-radius: 0;
    box-shadow: 3px rgba(54, 162, 235, 1);
    padding: 0;
    background-color: #c4aaa3;
}.form-control-label{
    color: #c5b5f5;
    border-color: #162923;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: oblique;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0px rgba(153, 102, 255, 1);
    padding: 4px;
    background-color: #aecdf5;
}.form-control-input{
    color: #acc7a6;
    border-color: #4d4434;
    font-size: 1.9rem;
    font-weight: 500;
    font-style: oblique;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 10px;
    border-radius: 9px;
    box-shadow: 3px rgba(255, 99, 132, 1);
    padding: 4px;
    background-color: #cab6f3;
}</style>