<style>.default-echart-border{
    color: #bdb3e6;
    border-color: #10203d;
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    border: 1px solid rgba(54, 162, 235, 1);
    margin: 4px;
    border-radius: 1px;
    box-shadow: 2px rgba(255, 206, 86, 1);
    padding: 0;
    background-color: #9f99dd;
}.btn{
    color: #a8da9c;
    border-color: #0c2344;
    font-size: 0.6rem;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 8px;
    border-radius: 8px;
    box-shadow: 1px rgba(54, 162, 235, 1);
    padding: 3px;
    background-color: #cbece7;
}.my-header{
    color: black;
    border-color: #2b0b44;
    font-size: 1.4rem;
    font-weight: 800;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 4px;
    border-radius: 8px;
    box-shadow: 0px rgba(75, 192, 192, 1);
    padding: 2px;
    background-color: white;
}.my-container-margin{
    color: #c8a5ed;
    border-color: #52332a;
    font-size: 1.7rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 0;
    border-radius: 12px;
    box-shadow: 2px rgba(75, 192, 192, 1);
    padding: 4px;
    background-color: #fadec0;
}.table{
    color: #a6a6e0;
    border-color: #333e08;
    font-size: 0.7rem;
    font-weight: 500;
    font-style: italic;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 1px;
    border-radius: 12px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 1px;
    background-color: #a7ebfc;
}.form-control{
    color: #f9c9e2;
    border-color: #24312d;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 3px;
    border-radius: 11px;
    box-shadow: 1px rgba(54, 162, 235, 1);
    padding: 4px;
    background-color: #c5aec5;
}.form-control-label{
    color: #a5a8a5;
    border-color: #1f2237;
    font-size: 0.7rem;
    font-weight: 700;
    font-style: italic;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 6px;
    border-radius: 11px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 3px;
    background-color: #a8def1;
}.form-control-input{
    color: #a1a893;
    border-color: #212621;
    font-size: 2.2rem;
    font-weight: 900;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 10px;
    border-radius: 3px;
    box-shadow: 3px rgba(75, 192, 192, 1);
    padding: 2px;
    background-color: #adc2f5;
}</style>